<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TigeR.YuGiOh.UI.Resources.CardRendering" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TigeR.YuGiOh.UI.Resources.CardRendering>
            <setting name="IconPosition" serializeAs="String">
                <value>665, 55</value>
            </setting>
            <setting name="IconSize" serializeAs="String">
                <value>78, 78</value>
            </setting>
            <setting name="StarPosition" serializeAs="String">
                <value>680, 149</value>
            </setting>
            <setting name="StarPositionReversed" serializeAs="String">
                <value>81, 149</value>
            </setting>
            <setting name="StarSize" serializeAs="String">
                <value>52, 52</value>
            </setting>
            <setting name="StarPadding" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TitlePosition" serializeAs="String">
                <value>48, 45</value>
            </setting>
            <setting name="TitleSize" serializeAs="String">
                <value>610, 78</value>
            </setting>
            <setting name="TitleFontSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="CoverPosition" serializeAs="String">
                <value>99, 218</value>
            </setting>
            <setting name="CoverSize" serializeAs="String">
                <value>617, 617</value>
            </setting>
            <setting name="EditionPosition" serializeAs="String">
                <value>81, 846</value>
            </setting>
            <setting name="EditionFontSize" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="SetPosition" serializeAs="String">
                <value>735, 846</value>
            </setting>
            <setting name="SetFontSize" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="NumberPosition" serializeAs="String">
                <value>29, 1125</value>
            </setting>
            <setting name="NumberFontSize" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="CopyrightPosition" serializeAs="String">
                <value>793, 1125</value>
            </setting>
            <setting name="CopyrightFontSize" serializeAs="String">
                <value>19</value>
            </setting>
            <setting name="TypePosition" serializeAs="String">
                <value>65, 881</value>
            </setting>
            <setting name="TypeFontSize" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="DescriptionMonsterPosition" serializeAs="String">
                <value>65, 916</value>
            </setting>
            <setting name="DescriptionMonsterSize" serializeAs="String">
                <value>681, 160</value>
            </setting>
            <setting name="DescriptionFontSize" serializeAs="String">
                <value>19.5</value>
            </setting>
            <setting name="AtkDefFontSize" serializeAs="String">
                <value>23.5</value>
            </setting>
            <setting name="AttackPosition" serializeAs="String">
                <value>495, 1070</value>
            </setting>
            <setting name="DefensePosition" serializeAs="String">
                <value>662, 1070</value>
            </setting>
            <setting name="DescriptionOtherPosition" serializeAs="String">
                <value>65, 883</value>
            </setting>
            <setting name="DescriptionOtherSize" serializeAs="String">
                <value>681, 233</value>
            </setting>
            <setting name="TitlePadding" serializeAs="String">
                <value>15</value>
            </setting>
        </TigeR.YuGiOh.UI.Resources.CardRendering>
    </applicationSettings>
</configuration>